<!DOCTYPE html>
<html>
<head>
  <title>Maia Test Console</title>
  <%= stylesheet_link_tag    "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" %>
  <%= javascript_include_tag "//code.jquery.com/jquery-2.1.3.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
